


p {
    padding-left: 4.2em;
    font-size: 1.3em;
    color: black;
    display: flex;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
h1 {
    padding-left: 1em;

}

h2 {
    padding-left: 4.2em;
    color: #FF9900;
    display: flex;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}

.about {
    padding-left: 4.2em;
    color: #FF9900;
    display: flex;
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;


}

.about h1{
    padding-left: 12em;
    color: grey;
    display: block;
}


.Navigation nav{
    padding-left: 4.2em;
    /*color: #bc84b1;*/
    display: flex;
    text-align: center;
    column-count: 1;

    Background-color: 	#C69452;
}

.Navigation a{
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    font-size: 17px;

    height:50px;
    overflow: hidden;
    display:block;
}


.inputH{
    color: yellowgreen;

}

label {
    color: #f3843E;
    font-size: 2em;

}

span {
    color: white;
    font-style: italic;
    display: flex;
}

body {/*Changes the top bar text colour */
    color: 	black;
    margin: 0px;


}



img {
    border-radius: 8px;
    right: 20%;
    width: 300px;
    height: 300px;
    display: flex;
}





ul {
    list-style-type: circle;
}
